@font-face {
  font-family: "Monserrat Bold";
  src: url("../../Includes/Fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Monserrat Regular";
  src: url("../../Includes/Fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../Includes/Fonts/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../Includes/Fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins light";
  src: url("../../Includes/Fonts/Poppins-Light.ttf");
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Monserrat Bold";
  font-weight: bold;
}

p,
a {
  font-family: "Poppins light";
  font-weight: normal;
}

button.btn,
nav a {
  font-family: "Monserrat Regular";
  font-weight: normal;
}

.feature-icon {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.feature-icon img {
  max-width: 192px;
}

.bizInst-bg {
  background-image: url('../../Assets/bizInst2.jpg');
  background-size: cover;
  background-position: center center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}