@font-face {
  font-family: "Monserrat Bold";
  src: url("../../Includes/Fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Monserrat Regular";
  src: url("../../Includes/Fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../Includes/Fonts/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../Includes/Fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins light";
  src: url("../../Includes/Fonts/Poppins-Light.ttf");
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Monserrat Bold";
  font-weight: bold;
}

p,
a {
  font-family: "Poppins light";
  font-weight: normal;
}

button.btn,
nav a {
  font-family: "Monserrat Regular";
  font-weight: normal;
}

.feature-icon {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.feature-icon img {
  max-width: 300px;
}